@page
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IndexModel

@{
    string primaryColor = "#550964";
    string accentColor = "#FF5733";
    string templatecolor = "#00796b";
    string textColor = "#FFFFFF"; // White text color
    string brightYellow = "#FFFF00"; // Bright yellow color
    string shadowColor = "#000000"; // Dark shadow color

    ViewData["Title"] = "Home page";
}
@if (SignInManager.IsSignedIn(User))
{
    Response.Redirect("Contacts");
}
else
{
    <div class="text-center">
        <div class="index-page">
            <div class="container mt-5">
                <div class="col-md-5" style="width:100%;margin-top:10%">
                    <div id="welcome-note1" class="container mt-10" style="color: @brightYellow; font-family: 'Tektur', cursive; font-size: 60px; text-shadow: 4px 4px 6px @shadowColor;">
                        Managing
                    </div>
                    <div id="welcome-note2" class="container mt-10" style="color: @brightYellow; font-family: 'Tektur', cursive; font-size: 80px; text-shadow: 4px 4px 6px @shadowColor;">
                        @if (User.IsInRole("Admin"))
                        {
                            <span style="color: @brightYellow;">Admin Panel</span>
                        }
                        else if (User.IsInRole("Manager"))
                        {
                            <span style="color: @brightYellow;">Manager Dashboard</span>
                        }
                        else
                        {
                            <span style="color: @brightYellow;">User Dashboard</span>
                        }
                    </div>
                    <div class="row justify-content-center" style="margin-top:20%">
                        <div class="col-md-3">
                            <div class="d-grid gap-2">
                                <a style="background-color: #00796b; color: @textColor;" id="login-submit" class="btn btn-lg" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-grid gap-2">
                                <a style="background-color: #00796b; color: @textColor;" id="login-submit" class="btn btn-lg" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
